
    <div class="dashboard">
      <div class="div">
        <div class="nav-bar">
          <div class="menu">
            <div class="div-2">
              <i class="fa-solid fa-house" style="color: #7F7E7E;"></i>
              <div class="calories-2">Dashboard</div>
            </div>
            <div class="div-2">
            <i class="fa-solid fa-robot" style="color: #808080;"></i>
              <div class="calories-2">Generate a Recipe</div>
            </div>
            <div class="div-2">
              <i class="fa-solid fa-utensils" style="color: #7F7E7E;"></i>
              <div class="calories-2">Recipes</div>
            </div>
            <div class="div-2">
              <i class="fa-regular fa-calendar" style="color: #7F7E7E;"></i>
              <div class="calories-2">Meal-prep</div>
            </div>
            <div class="div-2">
            <i class="fa-solid fa-book-open" style="color: #7F7E7E;"></i>
              <div class="calories-2">My Cookbook</div>
            </div>
            <div class="div-2">
              <i class="fa-solid fa-gear" style="color: #7F7E7E;"></i>
              <div class="calories-2">Settings</div>
            </div>
          </div>
          <div class="div-2">
            <i class="fa-solid fa-right-from-bracket" style="color: #7F7E7E;"></i>
            <div class="calories-2"><%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %></div>
          </div>
        </div>
        <div class="primary-btn">
              <i class="fa-solid fa-utensils" style="color: #FFFFFF;"></i>
          <div class="text-wrapper-2">Create Recipe</div>
        </div>
        <div class="btn">
          <div class="text-wrapper-3">Created Recipes</div>
          <div class="frame">
            <img class="utensils-solid-2" src="img/utensils-solid-1.svg" />
            <div class="text-wrapper-4">2.050</div>
          </div>
        </div>
        <div class="btn-2">
          <div class="text-wrapper-3">Weeks w/ prep-meals</div>
          <div class="frame">
            <img class="calendar-regular" src="img/calendar-regular-1.svg" />
            <div class="text-wrapper-5">12</div>
          </div>
        </div>
        <div class="btn-3">
          <div class="text-wrapper-3">Saved Recipes</div>
          <div class="frame">
            <img class="calendar-regular" src="img/calendar-regular-1-2.svg" />
            <div class="text-wrapper-6">2.050</div>
          </div>
        </div>
        <div class="btn-4">
          <div class="frame-2">
            <div class="text-wrapper-3">Today’s prep-meal dishes</div>
            <p class="p"><span class="span">See more</span> <span class="text-wrapper-7"> →</span></p>
          </div>
          <div class="text-wrapper-8">Dishes</div>
          <div class="frame-3">
            <div class="frame-4">
              <div class="ingredient">
                <div class="lemon"><img class="vector-6" src="img/vector-15.svg" /></div>
                <div class="details">
                  <div class="calories-3">Apple w/ peanut butter</div>
                  <div class="calories-2">Snack | 10:00 PM</div>
                </div>
              </div>
              <div class="ingredient">
                <div class="leaf-solid"><img class="vector-7" src="img/vector-7.svg" /></div>
                <div class="details">
                  <div class="calories-3">Broccoli Soup</div>
                  <div class="calories-2">Starters | 1:00 PM</div>
                </div>
              </div>
              <div class="ingredient">
                <div class="drumstick-bite"><img class="vector-8" src="img/image.svg" /></div>
                <div class="details">
                  <div class="calories-3">Yogurt Chicken</div>
                  <div class="calories-2">Lunch | 1:00 PM</div>
                </div>
              </div>
            </div>
            <div class="frame-4">
              <div class="ingredient">
                <div class="lemon"><img class="vector-6" src="img/vector.svg" /></div>
                <div class="details">
                  <div class="calories-3">Strawberries</div>
                  <div class="calories-2">Snack | 4:00 PM</div>
                </div>
              </div>
              <div class="ingredient">
                <div class="leaf-solid"><img class="vector-7" src="img/vector-18.svg" /></div>
                <div class="details">
                  <div class="calories-3">Broccoli Soup</div>
                  <p class="calories-2">Tues, Starters | 7:30 PM</p>
                </div>
              </div>
              <div class="ingredient">
                <div class="leaf-solid"><img class="vector-7" src="img/vector-10.svg" /></div>
                <div class="details">
                  <div class="calories-3">Pesto Salad</div>
                  <p class="calories-2">Tues, Dinner | 7:30 PM</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-5">
          <div class="frame-2">
            <div class="text-wrapper-3">Favourites</div>
            <p class="p"><span class="span">See more</span> <span class="text-wrapper-7"> →</span></p>
          </div>
          <div class="text-wrapper-8">Last saves</div>
          <div class="ingredient">
            <div class="drumstick-bite"><img class="vector-8" src="img/vector-12.svg" /></div>
            <div class="details">
              <div class="calories-3">Yogurt Chicken</div>
              <div class="calories-2">Lunch | Dinner</div>
            </div>
          </div>
          <div class="ingredient">
            <div class="drumstick-bite"><img class="vector-8" src="img/vector-5.svg" /></div>
            <div class="details">
              <div class="calories-3">Mustard Chicken</div>
              <div class="calories-2">Lunch | Dinner</div>
            </div>
          </div>
          <div class="ingredient">
            <div class="leaf-solid"><img class="vector-7" src="img/vector-16.svg" /></div>
            <div class="details">
              <div class="calories-3">Broccoli Soup</div>
              <div class="calories-2">Starters</div>
            </div>
          </div>
          <div class="ingredient">
            <div class="leaf-solid"><img class="vector-7" src="img/vector-17.svg" /></div>
            <div class="details">
              <div class="calories-3">Broccoli Soup</div>
              <div class="calories-2">Starters</div>
            </div>
          </div>
          <div class="ingredient">
            <div class="drumstick-bite"><img class="vector-8" src="img/vector-22.svg" /></div>
            <div class="details">
              <div class="calories-3">Tofu Parmegiano</div>
              <div class="calories-2">Lunch | Dinner</div>
            </div>
          </div>
        </div>
        <div class="overlap-group">
          <div class="btn-6">
            <div class="frame-2">
              <div class="text-wrapper-3">Today’s prep-meal schedule</div>
              <p class="p"><span class="span">View calendar</span> <span class="text-wrapper-7"> →</span></p>
            </div>
            <div class="text-wrapper-8">Calories</div>
            <div class="graphic">
              <div class="calories-4">
                <div class="calories-5">1.200</div>
                <div class="calories-6">1.000</div>
                <div class="calories-6">800</div>
                <div class="calories-6">600</div>
                <div class="calories-6">400</div>
                <div class="calories-6">200</div>
                <div class="calories-6">0</div>
              </div>
              <div class="lines">
                <img class="line" src="img/line-39.svg" />
                <img class="line" src="img/line-44.svg" />
                <img class="line" src="img/line-46.svg" />
                <img class="line" src="img/line-47.svg" />
                <img class="line" src="img/line-41.svg" />
                <img class="line" src="img/line-48.svg" />
                <img class="line" src="img/line-43.svg" />
              </div>
            </div>
            <div class="frame-5">
              <div class="calories-7">Time</div>
              <div class="frame-6">
                <div class="calories-5">8:00</div>
                <div class="calories-5">10:00</div>
                <div class="calories-5">12:00</div>
                <div class="calories-5">14:00</div>
                <div class="calories-5">16:00</div>
                <div class="calories-5">18:00</div>
                <div class="calories-5">20:00</div>
              </div>
            </div>
          </div>
          <div class="calories-wrapper"><div class="calories-8">Breakfast</div></div>
          <div class="div-wrapper"><div class="calories-9">Lunch</div></div>
          <div class="frame-7"><div class="calories-10">Snack</div></div>
          <div class="frame-8"><div class="calories-10">Snack</div></div>
          <div class="frame-9"><div class="calories-11">Dinner</div></div>
        </div>
        <div class="btn-7">
          <div class="frame-2">
            <div class="text-wrapper-3">Shopping List this week</div>
            <p class="p"><span class="span">See more</span> <span class="text-wrapper-7"> →</span></p>
          </div>
          <div class="text-wrapper-8">Ingredients</div>
          <div class="ingredients">
            <div class="column">
              <div class="ingredient-2">
                <div class="leaf-solid"><img class="vector-7" src="img/vector-21.svg" /></div>
                <div class="details">
                  <div class="calories-3">Spinach</div>
                  <div class="calories-2">Vegetable</div>
                </div>
              </div>
              <div class="ingredient-2">
                <div class="drumstick-bite"><img class="vector-8" src="img/vector-14.svg" /></div>
                <div class="details">
                  <div class="calories-3">Chicken</div>
                  <div class="calories-2">Protein</div>
                </div>
              </div>
              <div class="ingredient-2">
                <div class="drumstick-bite"><img class="vector-8" src="img/vector-8.svg" /></div>
                <div class="details">
                  <div class="calories-3">Egg</div>
                  <div class="calories-2">Protein</div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ingredient-2">
                <div class="lemon"><img class="vector-6" src="img/vector-11.svg" /></div>
                <div class="details">
                  <div class="calories-3">Strawberries</div>
                  <div class="calories-2">Fruit</div>
                </div>
              </div>
              <div class="ingredient-2">
                <div class="leaf-solid"><img class="vector-7" src="img/vector-19.svg" /></div>
                <div class="details">
                  <div class="calories-3">Broccoli</div>
                  <div class="calories-2">Vegetable</div>
                </div>
              </div>
              <div class="ingredient-2">
                <div class="lemon"><img class="vector-6" src="img/vector-13.svg" /></div>
                <div class="details">
                  <div class="calories-3">Apple</div>
                  <div class="calories-2">Fruit</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-wrapper-9">Hey Boris!</div>
        <div class="text-wrapper-10">Tuesday, 28 Jun 2023</div>

      </div>
    </div>
