<div class="container w-100">

  <div class="container my-2">
    <div class="container d-flex justify-content-end mb-5">
      <%= link_to new_meal_plan_path, class: "btn-create mt-4 me-3" do %>
        <i class="fa-solid fa-utensils"></i>
        <p>Create a Meal Plan</p>
      <% end %>
    </div>
  </div>

  <div class="container my-4 grid-container">
    <% @meal_plans.each do |meal| %>
      <%= link_to meal_plan_path(meal) do %>
      <div class="card text-bg-dark card-meal rounded-4">
        <% unless meal.picture.key.nil? %>
          <%= cl_image_tag meal.picture.key, crop: :fill %>
        <% end %>
        <div class="card-img-overlay d-flex justify-content-center align-items-center">
          <h5><%= meal.name %></h5>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>

</div>
