// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$danger-red: #F6784C;
$danger-red-light: #FCD6C9;
$link-orange: #ED8B00;
$link-orange-light: #F6C47D;
$alert-orange: #EAAA00;
$alert-orange-light: #F8E5B2;
$green-secondary: #C4D600;
$green-secondary-light: #EDF2B2;
$green-primary: #84BD00;
$green-primary-light: #C0DD7D;
$background-gray: #F3F3F3;
$card-white: #FFFFFF;
$header-black: #333333;
$text-gray: #7F7E7E;
