.dashboard {
  width: 100%;
  margin: 0 auto;
}

.counter-card {
  width: 100%;
  background-color: $card-white;
  height: 15%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  pointer-events: none;

  h3 {
    font-family: "Poppins", Helvetica;
    font-weight: 600;
    color: $header-black;
    font-size: 1rem;
  }
}

.frame {
  display: flex;
  align-items: center;
  gap: 1rem;

  h4{
    font-family: "Poppins", Helvetica;
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
  }
}

.greeting {
  h2 {
    font-family: "Poppins", Helvetica;
    color: $header-black;
    font-weight: 700;
    font-size: 2rem;
  }
}

#current-date {
  font-family: "Poppins", Helvetica;
  color: $text-gray;
  font-weight: 400;
  font-size: 1rem;
}

.list-card {
  width: 100%;
  background-color: $card-white;
  height: 40%;
  padding: 1.5rem;
  border-radius: 0.5rem;

  h3 {
    font-family: $body-font, Helvetica;
    font-weight: 600;
    color: $header-black;
    font-size: 1.25rem;
  }

  a {
    font-family: $body-font, Helvetica;
    font-size: 1rem;
    font-weight: 600;
    color: $link-orange;
    transition: 0.7s ease;
    text-decoration: none;

    &:hover {
      color: $link-orange-light;
      transition: 0.7s ease;
    }
  }

  p {
    font-family: $body-font, Helvetica;
    font-weight: 500;
    color: $text-gray;
    font-size: 0.8rem;
  }

  .img-recipe-avatar {
    width: 4rem;
    border-radius: 50%;
    overflow: hidden; /* Ensure the image is clipped within the rounded div */

    img {
      width: 100%;
      height: 4rem;
      object-fit: cover;
      transition: 0.7s ease;

      &:hover {
        filter: brightness(0.8);
        transition: 0.7s ease;
      }
    }

    &:hover {
      box-shadow: 0 0 8px $link-orange;
    }
  }

  h5 {
    font-family: $body-font, Helvetica;
    font-weight: 500;
    color: $header-black;
    font-size: 1rem;
    transition: 0.7s ease;

    &:hover {
      color: $link-orange;
      transition: 0.7s ease;
    }
  }
}
