.btn-signup {
  background-color: $alert-orange;
  color: $alert-orange-light;
  border: 1px solid $alert-orange-light;
  font-family: $body-font;
  font-size: 1.2rem;
  transition: 0.7s ease;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  text-decoration: none;

  &:hover{
    background-color: $alert-orange-light;
    color: $alert-orange;
    border: 1px solid $alert-orange;
    transition: 0.7s ease;
  }
}

.btn-create {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  background-color: $green-primary;
  border: 1px solid $green-primary-light;
  color: $light-gray;
  font-family: $body-font;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.7s ease;

  p {
    margin: 0 auto;
  }

  &:hover{
    background-color: $green-primary-light;
    border: 1px solid $green-primary;
    color: $green-primary;
  }
}

.btn-gray {
  background-color: $text-gray;
  color: $light-gray;
  border: 1px solid $light-gray;
  font-family: $body-font;
  font-size: 1.2rem;
  transition: 0.7s ease;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  text-decoration: none;

  &:hover{
    background-color: $light-gray;
    color: $text-gray;
    border: 1px solid $text-gray;
    transition: 0.7s ease;
  }
}
