.card-container {
  position: relative;
  overflow: hidden; /* Hide any overflow of the image */
  background-color: $card-white;
  border: none;
  transition: 0.8s;

  img {
    width: 100%; /* Make the image take the full width of the container */
    height: 20rem; /* Make the image take the full height of the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
  }
}

.recipe-detail {
  border: none;
  background-color: $card-white;
}

.ai-gen {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
}
