.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.grid-container-meal {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  row-gap: 5rem;

  h1 {
    font-family: $body-font;
    background-color: $background-gray;
    height: 100%;
  }
}
