.side-bar {
  align-items: center;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  .menu {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .icon-container {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin: 0.5rem 0;
    position: relative;

    i {
      font-size: 1.3rem;
      color: $text-gray;
      transition: 0.7s ease;


      &:hover{
        color: $link-orange;
        transform: scale(1.1);
        transition: 0.7s ease;
      }
    }

    p {
      color: $text-gray;
      font-family: $body-font, Helvetica;
      font-size: 0.8rem;
      font-weight: 500;
      padding-top: 0.6rem;
    }
  }
}

.active {
  color: $green-primary !important;
}
